/* guitar-details.component.css */



.gallery-item {
  margin-right: 10px;
}

.carousel-inner{
  border-radius: 20px;
}

#CarouselAndDescrip{
  padding-right: 3em;
  display: grid;
  height: 45em;
  grid-template-columns: 1fr 30vw;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

#description{

}

.guitar-title {
  margin-bottom: 40px;
}

 #guitarCarousel{
  width: 50%;
  margin: auto;
}

#LesDetails{
  font-size: 1.2em;
}

@media (max-width: 800px) {
    #CarouselAndDescrip{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 30px;
    }

  #guitarCarousel{
    width: 100%;
    margin: auto;
  }

  #description{
    padding-left: 30px;
  }

  .carousel{
    position: relative;
    left: 27px;
  }
  }


