<div id="TitrePage" style="color:
 black;">Venir à l'atelier
</div>


<div id="MapEtDescription">
  <div id="Adresse"><strong>4 bis, le pont Blondel, 50690 MARTINVAST</strong></div>
  <div id="Map">
    <iframe
      allowfullscreen="true"
      height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.1306488513405!2d-1.6756755883751577!3d49.59528564566703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480c914b871957db%3A0x95e5aaf03ed47b85!2s4%20Le%20Pont%20Blondel%2C%2050690%20Martinvast!5e0!3m2!1sfr!2sfr!4v1702152699354!5m2!1sfr!2sfr" style="border:0;"
      width="650"></iframe>
  </div>
  <div id="Horaire"><strong>Du lundi au samedi sur rendez vous</strong></div>
</div>
