/* votre-composant.css */


#MapEtDescription {
  border-radius: 20px;
  border: solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr 2em;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: 21vw;
  left: 5vw;
  /* right: 200px; */
  align-items: center;
  justify-items: center;
}


@media (max-width: 800px) {

  iframe {
    width: 90vw;
    height: 110vw;
  }


  #MapEtDescription {
    border-radius: 20px;
    border: solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 2em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    top: 80vw;
    left: 5vw;
    align-items: center;
    justify-items: center;
  }
}
