<div style="color: black;" id="TitrePage">Venir à l'atelier</div>

<div class="card" style="min-width: 10vw; width: 20vw; top: 20vh; left: 10vh;">
  <div class="card-body" >
    <h5 class="card-title">Venir</h5>
    <h6 class="card-text">4 bis, le pont Blondel, 50690 MARTINVAST</h6>
  </div>
  <div class="ratio ratio-1x1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1341237.9142906822!2d-1.0362908739275187!3d48.96100100497883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480c914b955ce2bf%3A0xe9bfc5e18100e69c!2sLe%20Pont%20Blondel%2C%2050690%20Martinvast%2C%20France!5e0!3m2!1sfr!2suk!4v1695764815875!5m2!1sfr!2suk"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  Du lundi au samedi sur rendez vous
</div>
