<div id="Gap"></div>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <img routerLink="/" id="logo" src="./assets/svg/LogoDamien.svg">
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a class="hover-underline-animation" routerLink="/presentation">Présentation</a>
    <a class="hover-underline-animation" routerLink="/realisation">Mes réalisations</a>
    <a class="hover-underline-animation" routerLink="/devis">Devis</a>
    <a class="hover-underline-animation" routerLink="/contact">Contact</a>
    <a class="hover-underline-animation" routerLink="/venir">Venir à l'atelier</a>
  </div>
</div>

<div id="Gap"></div>

<router-outlet></router-outlet>
