<div id="Gap"></div>
<div class="nav">
  <input type="checkbox" id="nav-check" [(ngModel)]="isCheckboxChecked">
  <div class="nav-header">
    <div class="nav-title">
      <img id="logo" routerLink="/" src="./assets/svg/LogoDamien.svg">
    </div>
  </div>

  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a (click)="disableCheckbox()" class="" routerLink="/presentation">Présentation</a>
    <a (click)="disableCheckbox()" class="" routerLink="/realisation">Mes réalisations</a>
    <a (click)="disableCheckbox()" class="" routerLink="/devis">Devis</a>
    <a (click)="disableCheckbox()" class="" routerLink="/contact">Contact</a>
    <a (click)="disableCheckbox()" class="" routerLink="/venir">Venir à l'atelier</a>
    <a (click)="disableCheckbox()" class="" routerLink="/videos">Vidéos</a>
  </div>
</div>

<div id="Gap"></div>

<router-outlet></router-outlet>
