<div id="TitrePage" style="color: black;">Detail</div>
<div style="padding-top: 10vh"></div>

<div *ngIf="guitar.images && guitar.images.length > 0">
  <div id="CarouselAndDescrip">
    <!-- Carrousel Bootstrap avec style personnalisé pour contrôler la largeur -->

    <div class="carousel slide" data-bs-ride="carousel" id="guitarCarousel" style="width: 50%; margin: auto;">
      <div class="carousel-inner">
        <div *ngFor="let image of guitar.images; let i = index" [class.active]="i === 0" class="carousel-item">
          <img [src]="image" alt="Image de la guitare" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#guitarCarousel" type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#guitarCarousel" type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Suivant</span>
      </button>
    </div>


    <div id="description">
      <h1 class="guitar-title">Description de la guitare</h1>
      <p *ngIf="guitar.corps !== undefined"><strong>Corps:</strong> {{ guitar.corps }}</p>
      <p *ngIf="guitar.tables !== undefined"><strong>Tables:</strong> {{ guitar.tables }}</p>
      <p *ngIf="guitar.finition !== undefined"><strong>Finition:</strong> {{guitar.finition}}</p>
      <p *ngIf="guitar.manches !== undefined"><strong>Manches:</strong> {{guitar.manches}}</p>
      <p *ngIf="guitar.touche !== undefined"><strong>Touche:</strong> {{guitar.touche}}</p>
      <p *ngIf="guitar.radius !== undefined"><strong>Radius:</strong> {{guitar.radius}}</p>
      <p *ngIf="guitar.frettes !== undefined"><strong>Frettes:</strong> {{guitar.frettes}}</p>
      <p *ngIf="guitar.diapason !== undefined"><strong>Diapason:</strong> {{guitar.diapason}}</p>
      <p *ngIf="guitar.sillet !== undefined"><strong>Sillet:</strong> {{guitar.sillet}}</p>
      <p *ngIf="guitar.chevalet !== undefined"><strong>Chevalet:</strong> {{guitar.chevalet}}</p>
      <p *ngIf="guitar.microManche !== undefined"><strong>Micro Manche:</strong> {{guitar.microManche}}</p>
      <p *ngIf="guitar.microMilieu !== undefined"><strong>Micro Milieu:</strong> {{guitar.microMilieu}}</p>
      <p *ngIf="guitar.microChevalet !== undefined"><strong>Micro Chevalet:</strong> {{guitar.microChevalet}}</p>
      <p *ngIf="guitar.potentiometres !== undefined"><strong>Potentiomètres:</strong> {{guitar.potentiometres}}</p>
      <p *ngIf="guitar.selecteur !== undefined"><strong>Sélecteur:</strong> {{guitar.selecteur}}</p>
      <p *ngIf="guitar.attacheCourroie !== undefined"><strong>Attache Courroie:</strong> {{guitar.attacheCourroie}}</p>
      <p><strong>Sélecteur:</strong> {{ guitar.selecteur }}</p>
      <p><strong>Attache Courroie:</strong> {{ guitar.attacheCourroie }}</p>
    </div>

  </div>
</div>
<div style="padding: 3em"></div>




