/* guitar-details.component.css */



.gallery-item {
  margin-right: 10px;
}

.carousel-inner{

  border-radius: 20px;
}

#CarouselAndDescrip{
  padding-right: 3em;
  display: grid;
  height: 45em;
  grid-template-columns: 1fr 30vw;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

#description{

}

.guitar-title {
  margin-bottom: 40px;
}

