<div id="MiniGap"></div>
	<div id="Presentation">
		<div><img id="SplitImg" src="assets/img/Final.webp"></div>
	</div>
	<div id="TitrePage">Presentation</div>
	<div id="PresentationTxt">
    <div id="background">
		Mon atelier est situé dans la Manche, à 7 kilomètres de <br /> Cherbourg-en-Cotentin. <br />
		Guitariste passionné, je me suis progressivement lancé dans la lutherie. <br />
		Après avoir entretenu et réglé mes propres guitares, je me suis lancé dans des rénovations, des reprises de
		manches et des remplacements de frettes. Attiré par le travail du bois, pratiqué dans des réalisations de
		meubles au design moderne, c’est tout naturellement que j’ai réalisé ma première guitare personnelle. D’autres
		ont suivi rapidemlent dans le souci du perfectionnement. C’est alors que je me suis décidé de me lancer en tant
		qu’artisan luthier. <br />
		Les guitares DO sont conçues et fabriquées par mes soins, à la main et sur mesures. Personalisables, elles
		répondent à vos besoins et envies. Je suis à votre écoute pour concrétiser votre projet. N’hésitez pas à me
		contacter par mail ou téléphone.
    </div>
	</div>
    <body>
        <div id="GapHeader"></div>
    </body>
