#Presentation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: ". ."
}

#SplitImg {
  height: 100%;
  width: 100%
}

#PresentationTxt {
  font-family: Quicksand;
  z-index: 10;
  position: absolute;
  height: 54vh;
  width: 58vh;
  top: 40vh;
  color: #fff;
  left: 10vh;
  font-size: 2.1vh;

}

#background{
  background: #4c4c51e0;
  border-radius: 20px;
  padding: 10px;
}

#TitrePage {
  text-decoration-line: underline;
  font-family: Quicksand;
  z-index: 2;
  position: absolute;
  height: 29vh;
  width: 63vh;
  top: 28vh;
  color: #fff;
  font-weight: 700;
  left: 10vh;
  font-size: 3vh
}


@media (max-width: 800px) {
  #PresentationTxt {
    z-index: 4;
    font-size: 1em;
    color: black;
    border-style: none;
    position: absolute;
    top: 79vw;
    width: 85vw;
    height: 2vw;
    left: 10vw;
    background: none;
  }
  #SplitImg {
    display: none;
  }

  #background{
    background: none;
    border-radius: 20px;
    padding: 10px;
  }

  #TitrePage {
    text-decoration-line: underline;
    font-family: Quicksand;
    z-index: 2;
    position: absolute;
    height: 29vh;
    width: 63vh;
    top: 28vh;
    color: #000000;
    font-weight: 700;
    left: 10vh;
    font-size: 3vh
  }



}


