.col {#ImagesSplitAccueil {
  display: grid;
  position: relative;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: ". ."
}
  display: flex;
  justify-content: space-evenly;
}

.bg-image{
  border-radius: 20px;
}

img {
  border-radius: 10px;
  cursor: zoom-in;
  width: 20em;
}

#ImgDetails {
  border-radius: 20px;
  display: grid;
}

#back1 {
  height: 200em;
}

.btn-outline-info {
  border-width: 3px;
  font-weight: 700;
  --bs-btn-color: #fff;
  --bs-btn-border-color: #ffffff54;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fbfbfbc2;
  --bs-btn-hover-border-color: #000000c2;
  --bs-btn-focus-shadow-rgb: 13,202,240;
  --bs-btn-active-color: #00000021;
  --bs-btn-active-bg: #fbfbfbc2;
  --bs-btn-active-border-color: #0000001c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fbfbfbc2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
  --bs-gradient: none;
  transition: 1.5s;
}

