<div id="MiniGap"></div>
<div style="color: black;" id="TitrePage">mes réalisations</div>
<div id="Gap"></div>
<div id="TitresPresentationGuitare">Les Guitares</div>
<div id="Gap"></div>
<script src="img_box.js"></script>

<div class="container">
    <div class="row">
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button>Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button>Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button>Details</button>
        </div>
      </div>
    </div>
  </div>
  <div id="Gap"></div>

  <div id="TitresPresentationGuitare">Les Basses</div>
<div id="Gap"></div>

<div class="container">
    <div class="row">
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button routerLink="/presentation">Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button>Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails"> 
            <img src="./assets/img/Guitare1.webp" onclick="img_box(this)">
            <button>Details</button>
        </div>
      </div>
    </div>
  </div>

  <div id="Gap"></div>