.col {
  display: flex;
  justify-content: space-evenly;
}

.bg-image{
  border-radius: 20px;
}

img {
  border-radius: 10px;
  cursor: zoom-in;
  width: 20em;
  padding-left: 2em;
  padding-right: 2em;
}

#ImgDetails {
  border-radius: 20px;
  display: grid;
}

#back1 {
  height: 200em;
}
