<div id="MiniGap"></div>
<div style="color: black;" id="TitrePage">mes réalisations</div>
<div id="Gap"></div>
<div id="TitresPresentationGuitare">Les Guitares</div>
<div id="Gap"></div>
<script src="img_box.js"></script>

<div class="container">
  <div class="bg-image" style="background-image: url('./assets/img/realisation.webp'); background-size: cover;">
    <div class="row" style="padding: 2vw; padding-left: 7vw; padding-right: 7vw;">
      <div class="col">
        <div id="ImgDetails">
          <img src="../../assets/img/Guitare1/1.webp" onclick="img_box(this)">
          <button routerLink="/detailGuitare/1_1" class="btn btn-light">Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails">
          <img src="../../assets/img/Guitare2/1.webp" onclick="img_box(this)">
          <button routerLink="/detailGuitare/1_2" class="btn btn-light">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="Gap"></div>
<div id="TitresPresentationGuitare">Les Basses</div>
<div id="Gap"></div>
<div class="container">
  <div class="bg-image" style="background-image: url('./assets/img/realisation.webp'); background-size: cover;">
    <div class="row" style="padding: 2vw; padding-left: 7vw; padding-right: 7vw;">
      <div class="col">
        <div id="ImgDetails">
          <img src="../../assets/img/Basse1/1.webp" onclick="img_box(this)">
          <button routerLink="/detailBasse/2_1" class="btn btn-light">Details</button>
        </div>
      </div>
      <div class="col">
        <div id="ImgDetails">
          <img src="../../assets/img/Basse2/1.webp" onclick="img_box(this)">
          <button routerLink="/detailBasse/2_2" class="btn btn-light">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Gap"></div>
