<div style="color: black;" id="TitrePage">Contact</div>

<div class="card" style="width: 20rem; top: 10em; left: 3vw; z-index: 4;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><img src="./assets/svg/facebook.svg" style="height: 3em; padding-right: 1em;"><a href="https://www.facebook.com/damien.oger.77r/?locale=fr_FR">Facebook</a></li>
      <li class="list-group-item"><img src="./assets/svg/instagram.svg" style="height: 3em; padding-right: 1em;"><a href="https://www.facebook.com/damien.oger.77r/?locale=fr_FR">Instagram</a></li>
      <li class="list-group-item"><img src="./assets/svg/envelope.svg" style="height: 3em; padding-right: 1em;"><a href="mailto:DOguitares@yahoo.fr">DOguitares@yahoo.fr</a></li>
    </ul>
  </div>