<div id="TitrePage" style="color: black;">Contact</div>

<div class="card" style="width: 20rem; top: 10em; left: 3vw; z-index: 4;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><img src="./assets/svg/circle-phone.svg" style="height: 3em; padding-right: 1em;"><a>06-80-88-48-37</a></li>
    <li class="list-group-item"><img src="./assets/svg/facebook.svg" style="height: 3em; padding-right: 1em;"><a
      href="https://www.facebook.com/damien.oger.77r/?locale=fr_FR" target=”_blank”>Facebook</a></li>
    <li class="list-group-item"><img src="./assets/svg/instagram.svg" style="height: 3em; padding-right: 1em;"><a
      href="https://instagram.com/doguitares?igshid=NzZlODBkYWE4Ng==" target=”_blank”>Instagram</a></li>
    <li class="list-group-item"><img src="./assets/svg/envelope.svg" style="height: 3em; padding-right: 1em;"><a
      href="mailto:DOguitares@yahoo.fr" target=”_blank”>DOguitares@yahoo.fr</a></li>
  </ul>
</div>
