img {
  border-radius: 40px;
  position: absolute;
  height: 30vw;
  right: 24vw;
}

#Card-text {
  z-index: 3;
  border-style: none;
  position: absolute;
  top: 20vw;
  width: 32vw;
  height: 2vw;
  left: 4vw;
}

#buttonLiens {
  padding: 30px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1024px) {
  #Card-text {
    z-index: 3;
    border-style: none;
    position: absolute;
    top: 70vw;
    width: 79vw;
    height: 2vw;
    left: 4vw;
  }

  img {
    display: none;
  }
}
