<div style="color: black;" id="TitrePage">Devis</div>

<div class="container mt-3">
<div class="card" id="Card-text">
    <div class="card-body">
    Vous souhaitez obtenir un devis, n’hésitez pas à me contacter. <br /> Toutes mes guitares électriques sont
    fabriquées sur demande. <br />
    Chaque élément est validé par le ou la future propriétaire : <br />
    choix des bois
    <br />
    <div style="padding-left: 30px;">dessin, avec ou sans tête</div> 
    <div style="padding-left: 30px;">finition</div> 
    <div style="padding-left: 30px;">profil - dimensions du manche</div>
    <div style="padding-left: 30px;">diapason</div>
    <div style="padding-left: 30px;">type de chevalet</div>
    <div style="padding-left: 30px;">micros - placements électronique.</div>
    Tout est envisageable.<br />
    Un échange est indispensable pour mener à bien la réalisation de celle qui vous accompagnera pour de longues années.
    <br />
    Cela peut se faire par téléphone, mail ou sur rendez-vous à l’atelier. <br />
    Vous pouvez également remplir le formulaire (pour Victor : bouton formulaire sous le texte qui ouvre le fichier «
    formulaire ») et me le faire parvenir par mail pour une première étude (pour Victor : lien vers « contact » ou
    directement le mail).
    <br />
    Après validation du projet, un acompte de 500 Euros sera demandé pour lancer la réalisation.
</div>
</div>
</div>

<div>
    <img src="./assets/img/Devis.webp">
</div>
<footer>

</footer>