<div style="color: black;" id="TitrePage">Devis</div>

<div class="container mt-3">
    <div class="card" id="Card-text">
        <div class="card-body">
            Vous souhaitez obtenir un devis, n’hésitez pas à me contacter. <br /> Toutes mes guitares électriques sont
            fabriquées sur demande. <br />
            Chaque élément est validé par le ou la future propriétaire : <br />
            choix des bois
            <br />
            <div style="padding-left: 30px;font-weight: bold;">- dessin, avec ou sans tête</div>
            <div style="padding-left: 30px; font-weight: bold;">- finition</div>
            <div style="padding-left: 30px; font-weight: bold;">- profil - dimensions du manche</div>
            <div style="padding-left: 30px; font-weight: bold;">- diapason</div>
            <div style="padding-left: 30px; font-weight: bold;">- type de chevalet</div>
            <div style="padding-left: 30px; font-weight: bold;">- micros - placements électronique.</div>
            Tout est envisageable.<br />
            Un échange est indispensable pour mener à bien la réalisation de celle qui vous accompagnera pour de longues
            années.
            <br />
            Cela peut se faire par téléphone, mail ou sur rendez-vous à l’atelier. <br />
            Vous pouvez également remplir le formulaire et me le faire parvenir par mail pour une première étude.
            <br />
            Après validation du projet, un acompte de 500 Euros sera demandé pour lancer la réalisation.
        </div>
        <div id="buttonLiens" style="display: flex;">
            <button type="button" class="btn btn-dark"><a href="./assets/formulaire.xlsx" download="formulaire">Formulaire</a>
            </button>
            <div style="padding: 10px;"></div>
            <button type="button" class="btn btn-dark"><a href="mailto:DOguitares@yahoo.fr">M'envoyer un mail</a></button>
        </div>
    </div>
</div>

<div>
    <img src="./assets/img/Devis.webp">
</div>
<footer>

</footer>
