/* guitar-details.component.css */

.image-gallery {
  display: flex;
  overflow-x: auto;
}

.gallery-item {
  margin-right: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

/* Ajoutez cela dans votre fichier de style CSS */
#guitarCarousel img {
  max-width: 100%;
  height: auto;
}
