<div id="MiniGap"></div>
<div id="ImagesSplitAccueil">
    <div><img id="SplitImg" src="assets/img/Split1.webp"></div>
    <div><img id="SplitImg" src="assets/img/Split2.webp"></div>
    <div id="TitreImg">Guitares et basses électriques artisanales</div>
</div>


<div id="ImagesSplitAccueilPhone">
  <div><img id="SplitImgPhone" src="assets/img/Split1.webp"></div>
  <div><img id="SplitImgPhone" src="assets/img/Split2.webp"></div>
  <div id="TitreImgPhone">Guitares et basses électriques artisanales</div>
</div>
